@charset "UTF-8";

html {
  font-size: 62.5%;
}
body {
  font-family: "DotGothic16", sans-serif;
  font-size: 1.4rem;
  margin: 0;
  background-image: url("../img/アイテムブロック.png");

  /* background-size: contain; */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.mario {
  position: absolute;
  top: 500px;
  left: 0;
}
#canvas {
  background: url(../img/マリオ背景.png);
  background-color: antiquewhite;
  margin: 0 0;
  background-size: cover;
  display: block;
  margin: auto auto;
  border-top: 10px solid rgb(212, 210, 210);
  border-right: 10px solid rgb(68, 68, 68);
  border-bottom: 10px solid rgb(48, 48, 48);
  border-left: 10px solid rgb(157, 157, 157);
  box-shadow: 5px 5px 5px;

  /* height: 100vh; */
}

.commet {
  z-index: 999;
  position: absolute;
  top: 20px;
  left: 150px;
  color: white;
}
